@model WineShop.Models.ViewModels.DetailsVM
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager
@{
    var averageRating = default(double);
    var numberOfComments = Model.Product.Rating.Count();
    if (numberOfComments > 0)
    {
        foreach (var bookRating in Model.Product.Rating)
        {
            averageRating += bookRating.RatingValue;
        }
        averageRating = averageRating / numberOfComments;
    }
}

<div class="all">
    <div class="container pt-4">
        <div class="card" style="border:2px solid #000000; ">
            <form method="post">
                <input asp-for="@Model.Product.Id" hidden />
                <div class="card-header m-0 row container" style="border-radius: 0px;">
                    <div class="col-12 col-md-6">
                        <h1 class="text-white">@Model.Product.Name</h1>
                    </div>
                    <div class="col-12 col-md-6" style="text-align:right;">
                        <h1 class="text-warning"> @((Model.Product.Price).ToString("c"))</h1>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-lg-4 p-2">
                                <img src="@WC.ImageProductPath@Model.Product.Image" width="100%" class="rounded" />
                            </div>
                            <div class="col-12 col-lg-8 p-2">
                                <div class="row pl-3">
                                    <div class="col-12" style="text-align:right;">
                                        <span class="badge p-3 border" >@Model.Product.ProductType.Name</span>
                                        <span class="badge p-3 border" >@Model.Product.Manufacturer.Name</span>
                                        <p class="pt-3" style="text-align:justify;">@Html.Raw(Model.Product.Description)</p>
                                    </div>
                                    @if (User.IsInRole(WC.AdminRole) || User.IsInRole(WC.CustomerRole))
                                    {
                                    <hr>
                                    <div onmouseout="CRateSelected()" style="text-align:center; font-size:200%;">
                                        <span class="fa-star fa-regular" id="Rate1" onclick="CRate(1)" onmouseover="CRateOver(1)" onmouseout="CRateOut(1)"></span>
                                        <span class="fa-star fa-regular" id="Rate2" onclick="CRate(2)" onmouseover="CRateOver(2)" onmouseout="CRateOut(2)"></span>
                                        <span class="fa-star fa-regular" id="Rate3" onclick="CRate(3)" onmouseover="CRateOver(3)" onmouseout="CRateOut(3)"></span>
                                        <span class="fa-star fa-regular" id="Rate4" onclick="CRate(4)" onmouseover="CRateOver(4)" onmouseout="CRateOut(4)"></span>
                                        <span class="fa-star fa-regular" id="Rate5" onclick="CRate(5)" onmouseover="CRateOver(5)" onmouseout="CRateOut(5)"></span>
                                    </div>
                                    <input type="hidden" name="Rating" id="Rating" value="@Model.UserRating"/>
                                    }
                                    @if (averageRating == null)
                                    {
                                        <span class="badge">
                                            No Ratings
                                        </span>
                                    }
                                    else
                                    {
                                        <span class="badge">
                                            @averageRating/5 (@numberOfComments Rates)
                                        </span>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <a asp-action="ShopSite" class="btn btn-success btn-square form-control btn-lg" style="height:50px;">Back to List</a>
                        </div>
                        <div class="col-12 col-md-6">
                            @if (Model.ExistsInCart)
                            {
                                <a asp-action="RemoveFromCart" asp-route-id="@Model.Product.Id" class="btn btn-warning btn-square form-control btn-lg" style="height:50px;">Remove from Cart</a>
                            }
                            else
                            {
                                <button type="submit" asp-route-id="@Model.Product.Id" class="btn btn-info form-control btn-lg" style="height:50px;">Add to Cart</button>
                            }
                        </div>
                    </div>
                </div>
            </form>
            <form method="post">
                <input asp-for="Comment.IdCustomer" value="@UserManager.GetUserId(User)" hidden />
                <input asp-for="Comment.IdProduct" value="@Model.Product.Id" hidden />
                <input asp-for="Comment.ApplicationUser" value="@Model.ApplicationUser" hidden />
                <input asp-for="Comment.Product" value="@Model.Product" hidden />

                <div class="card-body p-0 m-0">
                    <div class="container p-0 m-0">
                        <div class="row col-12 p-0 pt-5 m-0">
                            @if (Model.Product.Comment.Count > 0)
                            {
                                @foreach (var item in Model.Product.Comment.OrderByDescending(u => u.Date))
                                {
                                    <div class="row col-12 m-0 mb-5 p-3 bg-secondary">
                                        <div class="col-2">
                                            <img src="@WC.ImageUserPath/blank.png" style="width:50px; height:50px;"/>
                                            <div>@item.ApplicationUser.Name</div>
                                            <div>@item.ApplicationUser.Surname</div>
                                        </div>
                                        <div class="col-8" style="text-align:center;">
                                            <div>@item.CommentContent</div>
                                        </div>
                                        <div class="col-2">
                                            <div style="text-align:right;">@item.Date</div>
                                            <div class="col-3">
                                                @if (item.ApplicationUser.Email == "user" || User.IsInRole(WC.AdminRole))
                                                {
                                                    <a asp-action="DeleteComment" asp-route-id="@item.Id" class="btn btn-outline-danger mt-2"  style="text-align:right;">
                                                        <i class="fas fa-trash"></i>
                                                    </a>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <span class="p-3" style="text-align: center;">There is no comments for this product yet.</span>
                            }
                        </div>
                            @if (User.IsInRole(WC.AdminRole) || User.IsInRole(WC.CustomerRole))
                            {
                                <div class="row col-12 m-0 ps-3 pe-3">
                                    <textarea asp-for="@Model.Comment.CommentContent" class="col-8" placeholder="Add comment as a @UserManager.GetUserName(User)"></textarea>
                                    <button type="submit" asp-action="AddComment" class="col-4 btn-danger btn-lg">Send</button>
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                </div>
                            }
                            else
                            {
                                <div class="col-12 pt-3 pb-3 border" style="text-align:center;">Please register to add comment</div>
                            }
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script>
        document.body.onload = function () {
            var setRating = $("#Rating").val();
            for (var i = 1; i <= setRating; i++) {
                $("#Rate" + i).attr('class', 'fa-star fa-solid');
            }
        }
        function CRate(r) {
            if (r == $("#Rating").val())
            {
                $("#Rating").val(0);
                for (var i = r + 1; i <= 5; i++) {
                    $("#Rate" + i).attr('class', 'fa-star fa-regular');
                }
                    $.ajax({
                        type: "POST",
                        url: "/Home/RateProduct",
                        data: { "id": @Model.Product.Id , "rate": $("#Rating").val() },
                    });
            }
            else
                {
                    $("#Rating").val(r);
                    for (var i = 1; i <= r; i++) {
                        $("#Rate" + i).attr('class', 'fa-star fa-solid');
                    }
                    for (var i = r + 1; i <= 5; i++) {
                        $("#Rate" + i).attr('class', 'fa-star fa-regular');
                    }
                    $.ajax({
                        type: "POST",
                        url: "/Home/RateProduct",
                        data: { "id": @Model.Product.Id , "rate": r },
                    });
                }
        }
        function CRateOver(r) {
            for (var i = 1; i <= r; i++) {
                $("#Rate" + i).attr('class', 'fa-star fa-solid');
            }
        }
        function CRateOut(r) {
            for (var i = 1; i <= r; i++) {
                $("#Rate" + i).attr('class', 'fa-star fa-regular');
            }
        }
        function CRateSelected() {
            var setRating = $("#Rating").val();
            for (var i = 1; i <= setRating; i++) {
                $("#Rate" + i).attr('class', 'fa-star fa-solid');
            }
        }
    </script>
}