@{
    ViewData["Title"] = "Home Page";
}
<div>
    <!-- Wine Section -->
    <div class="row min-vh-100 align-items-center">
        <h1 class="w-100 mb-0" style="font-family: Helvetica;">Welcome to WineShop</h1>
        <div class="col-md-12 mb-1">
            <img src="@WC.ImageMainPage/main.png" alt="Main Wine Image" style="mask-image: linear-gradient(to right, transparent, black 20%, black 80%, transparent);">
            <p><strong>Have a seat and taste our products.</strong></p>
        </div>
        <div class="col-md-4 mb-5">
            <img src="@WC.ImageMainPage/w1.png" alt="Red Wine" class="img-fluid" style="height: 25%;">
            <h3>Red Wine</h3>
            <p><strong>We are selling wine of the highest quality.</strong></p>
        </div>
        <div class="col-md-4 mb-5">
            <img src="@WC.ImageMainPage/w2.png" alt="White Wine" class="img-fluid" style="height: 25%;">
            <h3>White Wine</h3>
            <p><strong>It is really just about sharing our passion.</strong></p>
        </div>
        <div class="col-md-4 mb-5">
            <img src="@WC.ImageMainPage/w3.png" alt="Sparkling Wine" class="img-fluid" style="height: 25%;">
            <h3>Sparkling Wine</h3>
            <p><strong>Thank you for your trust in our brand.</strong></p>
        </div>
    </div>
    <hr>

    <!-- WineShop Information -->
    <div class="row min-vh-100 align-items-center text-left">
        <div class="col-12">
            <h2>WineShop</h2>
            <p><em>We love wine</em></p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus porta luctus metus, consequat mattis purus fringilla sed. Duis enim risus, cursus at ipsum ut, ultricies euismod augue. Suspendisse a ipsum ac velit ultrices dignissim. Sed pretium, eros a tincidunt finibus, libero lorem pellentesque tortor, ac dictum libero lectus at augue. Curabitur fermentum, augue placerat convallis euismod, turpis mauris malesuada neque, at luctus tortor felis sit amet dolor.
            </p>
        </div>
    </div>
    <hr>

    <!-- About Us Section -->
    <div class="row min-vh-100 align-items-center text-left">
        <div class="col-12">
            <h2>About Us</h2>
            <p><em>Lorem Ipsum!</em></p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus porta luctus metus, consequat mattis purus fringilla sed. Duis enim risus, cursus at ipsum ut, ultricies euismod augue. Suspendisse a ipsum ac velit ultrices dignissim. Sed pretium, eros a tincidunt finibus, libero lorem pellentesque tortor, ac dictum libero lectus at augue.
            </p>
            <div class="row">
                <div class="col-md-4 text-center">
                    <p>Name Surname</p>
                    <img src="@WC.ImageUserPath/blank.png" alt="User Profile" class="rounded-circle" style="width: 50px; height: 50px;">
                </div>
                <div class="col-md-4 text-center">
                    <p>Name Surname</p>
                    <img src="@WC.ImageUserPath/blank.png" alt="User Profile" class="rounded-circle" style="width: 50px; height: 50px;">
                </div>
                <div class="col-md-4 text-center">
                    <p>Name Surname</p>
                    <img src="@WC.ImageUserPath/blank.png" alt="User Profile" class="rounded-circle" style="width: 50px; height: 50px;">
                </div>
            </div>
        </div>
    </div>
    <hr>

    <!-- More About Us -->
    <div class="row min-vh-100 align-items-center">
        <div class="col-md-4">
            <img src="@WC.ImageMainPage/NewYork.jpg" alt="New York Image" class="img-fluid hover-opacity">
            <div class="bg-white text-dark p-3">
                <p><strong>New York</strong></p>
                <p class="opacity">Fri 27 Nov 2016</p>
                <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
                <button class="btn btn-primary">Buy Wine</button>
            </div>
        </div>
        <div class="col-md-4">
            <img src="@WC.ImageMainPage/Paris.jpg" alt="New York Image" class="img-fluid hover-opacity">
            <div class="bg-white text-dark p-3">
                <p><strong>Paris</strong></p>
                <p class="opacity">Fri 27 Nov 2016</p>
                <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
                <button class="btn btn-primary">Sell Wine</button>
            </div>
        </div>
        <div class="col-md-4">
            <img src="@WC.ImageMainPage/SanFrancisco.jpg" alt="New York Image" class="img-fluid hover-opacity">
            <div class="bg-white text-dark p-3">
                <p><strong>San Francisco</strong></p>
                <p class="opacity">Fri 27 Nov 2016</p>
                <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
                <button class="btn btn-primary">Earn Wine</button>
            </div>
        </div>
    </div>
    <hr>

    <!-- Contact Section -->
    <div class="row min-vh-100 align-items-center text-left">
        <div class="col-12">
            <h2>Contact</h2>
            <p><i class="fa fa-map-marker" style="width:30px"></i> Cracov, PL</p>
            <p><i class="fa fa-phone" style="width:30px"></i> Phone: +000 000 000</p>
            <p><i class="fa fa-envelope" style="width:30px"></i> Email: mail@mail.com</p>
            <form action="..." target="_blank">
                <div class="mb-3">
                    <input class="form-control" type="text" placeholder="Name" required name="Name">
                </div>
                <div class="mb-3">
                    <input class="form-control" type="email" placeholder="Email" required name="Email">
                </div>
                <div class="mb-3">
                    <textarea class="form-control" placeholder="Message" required name="Message"></textarea>
                </div>
                <button class="btn btn-primary" type="submit">SEND</button>
            </form>
        </div>
    </div>
    <hr>

    <!-- Footer -->
    <footer class="row align-items-center py-4">
        <div class="col text-center">
            <a href="https://www.facebook.com" class="text-white"><i class="fab fa-facebook fa-2x"></i></a>
            <a href="https://www.instagram.com" class="text-white"><i class="fab fa-instagram fa-2x"></i></a>
            <a href="https://www.snapchat.com" class="text-white"><i class="fab fa-snapchat fa-2x"></i></a>
            <a href="https://www.pinterest.com" class="text-white"><i class="fab fa-pinterest fa-2x"></i></a>
            <a href="https://www.twitter.com" class="text-white"><i class="fab fa-twitter fa-2x"></i></a>
            <a href="https://www.linkedin.com" class="text-white"><i class="fab fa-linkedin fa-2x"></i></a>
        </div>
    </footer>
</div>
